.wrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.wrapper_cat {
	padding: 30px;
}

.wrapper_cat > img:hover {
	transition: all 1s;
	scale: 1.1;
}

.catHref {
	color: brown;
}

.catHref:hover {
	transition: all 0.5s;
	color: red;
}

.cart_cat {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	font-size: 30px;
}
.icons {
	margin-bottom: 5px;
}
.icons:hover {
	margin-bottom: 10px;
	transition: all 1s;
	scale: 1.02;
	color: red;
}
